* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8d8d8d;
}

header {
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;
}
header .header-top {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
header .header-top .nav-link {
  color: #fff;
  font-weight: 300px;
}
header .header-top .navbar-brand img {
  width: 170px;
}
header .header-top .dropdown {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 560px) {
  main .baner .back-md {
    background: linear-gradient(180deg, rgba(35, 2, 2, 0) 0%, rgb(183, 0, 183) 100%);
  }
}
main .baner form {
  background-color: #fff;
  max-width: 397px;
  border-radius: 17px;
  padding: 10px 0;
}
main .baner form span {
  font-size: 25px;
}
main .baner form label {
  font-weight: bold;
}
main .baner form input, main .baner form .form-select, main .baner form button {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}
main .baner .conteudo-baner {
  color: #fff;
}
main .baner .conteudo-baner button {
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  color: #fff;
}
main .breadcrumb {
  margin: 0;
  padding: 0;
}
main .breadcrumb ul {
  width: 100%;
  padding: 0;
}
main .breadcrumb .breadcrumb-item {
  font-size: 12px;
  list-style: none;
}
main .breadcrumb .breadcrumb-item a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
main .conteudo-midia {
  padding: 10px 0;
  gap: 20px;
}
main .conteudo-midia h4 {
  font-size: 20px;
}
main .conteudo-midia h3 {
  font-size: 24px;
  color: #8870FF;
}
main .conteudo-midia p {
  max-width: 650px;
  font-size: 16px;
  text-align: justify;
}
main .midia img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.formato .btn-formato button, .cases .btn-formato button {
  text-transform: uppercase;
  color: #B7B7B7;
}
.formato .line, .cases .line {
  width: 100%;
}
.formato .image-pc, .cases .image-pc {
  background-color: #EDEDED;
}
.formato .span-formato, .cases .span-formato {
  max-width: 300px;
}

.cases .box-cases {
  gap: 10px;
}
.cases .box-cases .case {
  background-color: blue;
  display: block;
  flex: 0 0 320px;
  max-width: 320px;
  height: 320px;
  position: relative;
}
.cases .box-cases .case img {
  width: 100%;
}
.cases .box-cases .case .logo {
  position: absolute;
  width: 70%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cases .box-cases .case .img-back {
  background-color: yellowgreen;
}
.cases .box-cases .case:nth-child(1) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/usaflex_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(2) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/ifood_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(3) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/vale_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(4) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/agrishow_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(5) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/center_norte_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(6) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/vale_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(7) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/metro_rio_back.png);
  background-size: contain;
}
.cases .box-cases .case:nth-child(8) {
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.941)), url(../../../assest/ads-img/cases/acer_back.png);
  background-size: contain;
}

.blog .line {
  width: 100%;
}
.blog span {
  color: #000;
}
.blog img {
  width: 100%;
}
.blog button {
  border-radius: 20px;
}

.btn-social {
  padding: 0;
  margin: 0;
  gap: 10px;
}
.btn-social .btn {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
